.c-getway__offer {
  border-radius: 4px;
  background: $grey-color-4;
  text-align: center;
  padding: 18px;

  p {
    text-align: center;
    color: $black-color;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    a {
      color: $primary-orange;
      display: inline-block;
      font-weight: 500;
      @include mq(lg) {
        display: inline;
      }
    }
  }
}
