.c-table {
  border-radius: 4px;
  border: 1px solid $grey-color-3 !important;
  margin-bottom: 1rem !important;
  thead {
    background: $grey-color-4;
    border: 0;
    th {
      border: 0 !important;
      color: $black-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 400!important;
      line-height: 24px; /* 200% */
      text-align: left;
    }
  }
  td {
    line-height: 12px;
  }
  &.dataTable{
    border:none!important;
  }
}
.dataTables_wrapper{
  border-radius: 4px;
  border: 1px solid #e7e7e7 !important;
  margin-bottom: 1.5rem;
  padding: 0 10px;
}
.c-table__wrapper {
  #DataTables_Table_0_paginate {
    float: none;
    text-align: center;
    margin-bottom: 16px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 4px;
    border: 1px solid var(--Border, #e7e7e7);
    padding: 6px 10px 7px 10px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent !important;
    &.next , &.previous {
      padding: 0;
      border: none;
    }
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: $primary-orange;
  }
}
.c-table__availability {
  border-radius: 2px;
  background-color: $grey-color-4;
  color: $black-color;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  padding: 3.5px 5px 3.5px 5px;
  min-width: 82px;
  text-align: center;
  &.c-table__availability--sucsess {
    color: $green;
    background-color: $green-light;
  }
}
.c-btn-table {
  font-size: 12px;
  width: 80px;
  padding: 4px;
}
table.dataTable tbody td {
  padding: 8px 18px;
  border-bottom: 1px solid #F7F7F7;
}
table.dataTable tbody tr:last-child td{
  border-bottom: none;
}
table.dataTable thead:after{
  content: '';
  background: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 44px;
  border-top-left-radius: 4px;
}
table.dataTable thead:before{
  content: '';
  background: #f7f7f7;
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 44px;
  border-top-right-radius: 4px;
}
