$white-color: #fff;
$black-color: #000;
$primary-orange: #f88e40;
$red: #d91f1f;
$green: #58a978;
$green-light: #58A97814;
$grey-color-1: #5b5b5b;
$grey-color-2: #f0f0f1;
$grey-color-3: #e7e7e7;
$grey-color-4: #f7f7f7;

$primary-font: "Inter", sans-serif;
