$white-color: #fff;
$black-color: #000;
$primary-orange: #C24225;
$red: #EB2E45;
$green: #58a978;
$green-light: #58A97814;
$grey-color-1: #5b5b5b;
$grey-color-2: #F5F1EE;
$grey-color-3: #E8E6E5;
$grey-color-4: #f7f7f7;
$grey-color-5: #E7E7E7;

$dark-grey-1: #5F5F5F;
$dark-grey-2: #363534;
$dark-grey-3: #282726;
