.o-section {
  padding: 3.125em 0;
  @include mq(desktop) {
    padding: 4.375em 0;
  }
}
.o-section__wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  @include mq(lg) {
    max-width: calc(1164px - 2em);
  }
}
.c-section--maincontent {
  padding: 0 0 16px 0;
}
.o-section__wrapper--maincontent {
  padding: 48px 20px 40px 20px;
  background-color: $white-color;
  border-radius: 4px;
  max-width: 85%;
  margin: 0 auto;
  box-sizing: border-box;
  @include mq(tablet) {
    max-width: calc(1164px - 34em);
    padding: 48px 32px 40px 32px;
  }
}
